/* Page Styles */
.pageHeader{
    text-align: center;
    color: #036;
    font-size: 7vw;
}
.card{
    min-height: 180px;
}
.spacer{
    margin-bottom: 10px;
}
/* End Page Styles */


/* Form Styles */
.form-control{
    border-color: #808080;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
    box-shadow: 0px 0px 5px red;
}
.form-control.is-valid, .was-validated .form-control:valid{
    box-shadow: 0px 0px 5px green;
}
.form-label{
    color: #333;
    font-weight: bold;
}
.placeholder{
    position: relative;
    z-index: 5;
    color: #333;
}
.phone-input, .phone-input:focus, .phone-input::selection{
    position: relative;
    top: -38px;
    color: transparent;
    caret-color: black;
    padding-left: 18px;
    letter-spacing: .1rem;
    z-index: 20;
    background-color: transparent;
    margin-bottom: -35px;
}
/* End Form Styles */